.sidebar {
  flex: 1;
  height: 100vh;
  background: var(--color-from);
  background: -webkit-linear-gradient(
    to bottom,
    var(--color-from),
    var(--color-to)
  );
  background: linear-gradient(to bottom, var(--color-from), var(--color-to));
  position: sticky;
  top: 0;
}

.sidebarWrapper {
  padding: 20px 0;
  color: #fff;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.sidebarTitle {
  font-size: 2rem;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}

.logoutBtn {
  text-align: center;
  text-align: center;
  width: 80%;
  border: 2px solid var(--color-to);
  border-radius: 10px;
  padding: 8px 10px;
  color: var(--color-to);
  cursor: pointer;
}

.logoutBtn:hover {
  background-color: var(--color-to);
  color: #fff;
}

@media (max-width: 768px) {
  .sidebarTitle {
    font-size: 1.5rem;
  }
  .sidebarListItem {
    font-size: 0.7rem !important;
  }
}

.sidebarList {
  list-style: none;
  padding: 5px 0;
}

.sidebarListItem {
  width: 100%;
  padding: 20px 5px;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: rgb(240, 240, 255);
  color: var(--color-to);
  border-left: 3px solid var(--color-from);
  font-weight: bold;
}

.sidebarIcon {
  margin: 0 12px;
  font-size: 25px !important;
  color: linear-gradient(to bottom, var(--color-from), var(--color-to));
}
